<a href="https://colab.research.google.com/github/anilsimha13/AI-ML/blob/main/python_for_AI_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Class 3**

### **Loops**
- for

In [23]:
check_for_loop2 = [2,2,2,2,2]
empty_list = []
for i in check_for_loop2:
  empty_list.append(i * i)
print(empty_list)

[4, 4, 4, 4, 4]

In [19]:
check_for_loop = [1,2,3,4,5,6]
for i in range(len(check_for_loop)):
  check_for_loop[i] *= check_for_loop[i]
print(check_for_loop)

[1, 4, 9, 16, 25, 36]

### **Control Statements**
- if
- if else
- elif

In [ ]:
lists = [1,2,3,4,5,6,7,8,9,10]

if 11 in lists:
  print('11 is in the list')
else:
  print('11 is not in the list')

if 12 not in lists:
  print('10 is in the list')
else:
  print('10 is not in the list')

for i in lists:
  print(i)

In [5]:
math_score = 100
if math_score > 50 and math_score <= 100:
  print('A')
elif math_score > 40 and math_score <= 50:
  print('B')
elif math_score > 30 and math_score <= 40:
  print('C')
else:
  print('Fail')

A

In [1]:
marks_scored = 80

if marks_scored > 50:
  print('Pass')
else:
  print('Fail')

Pass

### **Sets**
- Sets are collection of unique elements
- Sets are unordered collection of elements
- Declared by using { }
- Union |
- Intersection &

In [14]:
# remove the duplicates

num_list = [10,12,14,14,15,15,13,15,13,12,11,15,16,16,17,17,18,18,181,19,19,29,20,20]
print(num_list)
print(set(num_list))
print(list(set(num_list)))

[10, 12, 14, 14, 15, 15, 13, 15, 13, 12, 11, 15, 16, 16, 17, 17, 18, 18, 181, 19, 19, 29, 20, 20]
{10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 181, 29}
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 181, 29]

In [12]:
city_name = {'Delhi', 'Hyderabad','Chennai', 'Bangalore', 'Delhi'}
print(city_name)
city_population = {10000, 20000, 30000, 40000, 50000}
print(city_population | city_name)
few_city_names = {'Delhi','Hyderabad', 'Kolkata', 'Ahmedabad'}
print(city_name & few_city_names)

{'Delhi', 'Chennai', 'Bangalore', 'Hyderabad'}
{20000, 40000, 'Delhi', 'Hyderabad', 10000, 30000, 50000, 'Chennai', 'Bangalore'}
{'Delhi', 'Hyderabad'}

### **Dictionaries**
  - Stored as Key-Value pair
  - These are mutable
  - Declared with curly braces { }
  - Delete data in Dictionary - del
  - Update data in Dictionary - update
  - Key should be unique

In [9]:
student_data_1 = {1:['Mark', 99], 2:['Alica', 100], 3:['James', 98]}
del student_data_1[3]
print(student_data_1)
student_data_1.update({3:['James', 98]})
print(student_data_1)

{1: ['Mark', 99], 2: ['Alica', 100]}
{1: ['Mark', 99], 2: ['Alica', 100], 3: ['James', 98]}

In [7]:
student_data = {1:['Mark', 99], 2:['Alica', 100]}
print(student_data)
print(student_data.keys())
print(student_data.values())
print(student_data[1])
print(student_data[1][1])
print(student_data[2][0])

{1: ['Mark', 99], 2: ['Alica', 100]}
dict_keys([1, 2])
dict_values([['Mark', 99], ['Alica', 100]])
['Mark', 99]
99
Alica

# **Class 2**
- Tuples
  - Its a one dimensional , immutable , ordered collection of different data types
  - Declared on round braces ( )
- List
  - Its a one dimensional , mutable , ordered collection of different data types
  - Declared on round braces [ ]
  - append # Appends at the end of the list
  - pop # Removes the value by index
  - insert # Want to insert into the specified index
  - remove # Removes the first occurance by value
  - extend
- Dictionaries
- Sets

### List

In [ ]:
# List Methods
list_methods = ['list1', 'list2',  'list3', 'list4']
list_methods.append('list5')
print('append', list_methods)
list_methods.pop(2)
print('pop',list_methods)
list_methods.insert(2, 'list6')
print('insert',list_methods)
list_methods.remove('list1')
print('remove',list_methods)
second_list = ['list7', 'list8']
list_methods.extend(second_list)
print('extend',list_methods)

append ['list1', 'list2', 'list3', 'list4', 'list5']
pop ['list1', 'list2', 'list4', 'list5']
insert ['list1', 'list2', 'list6', 'list4', 'list5']
remove ['list2', 'list6', 'list4', 'list5']
extend ['list2', 'list6', 'list4', 'list5', 'list7', 'list8']

In [ ]:
first_list = [1, 222, 222.222, 'Mark', True, 'Awesome', 'No Worries']
print(first_list[4])
first_list[2] = 2.222
print(first_list)
print(first_list[1:3:2])
print(len(first_list))
first_list.append('Zuke')
print(first_list)
first_list.insert(2,0.00)
print(first_list)
first_list.remove('Mark')
print(first_list)

True
[1, 222, 2.222, 'Mark', True, 'Awesome', 'No Worries']
[222]
7
[1, 222, 2.222, 'Mark', True, 'Awesome', 'No Worries', 'Zuke']
[1, 222, 0.0, 2.222, 'Mark', True, 'Awesome', 'No Worries', 'Zuke']
[1, 222, 0.0, 2.222, True, 'Awesome', 'No Worries', 'Zuke']

### Tuples

In [ ]:
first_tuples = (1, 2.0, True, 'Tuples')
print(first_tuples)
print(first_tuples[1])
print(first_tuples[3])

(1, 2.0, True, 'Tuples')
2.0
Tuples

In [ ]:
print(first_tuples)
second_tuples = ('Sets', 'React', False, 111, 111.1)
third_tuple = first_tuples + second_tuples
print(third_tuple)

(1, 2.0, True, 'Tuples')
(1, 2.0, True, 'Tuples', 'Sets', 'React', False, 111, 111.1)

In [ ]:
first_tuples[0:3:2]
first_tuples[1:5:2]
first_tuples[-1]

'Tuples'

In [ ]:
print(first_tuples.index('Tuples'))

3

In [ ]:
print(first_tuples[0:3])

(1, 2.0, True)

In [ ]:
first_tuples[1] = 2.1

TypeError: 'tuple' object does not support item assignment

In [ ]:
#swapping of two variables without creating third variable

x = 10
y = 20

x,y = y,x
print(x , y)

20 10

# **Class1**

In [ ]:
first_student_name = 'Mark'
second_student_name = 'Alica'

In [ ]:
print(first_student_name)
print(second_student_name)
print(type(first_student_name))
print(type(second_student_name))

Mark
Alica
<class 'str'>
<class 'str'>

In [ ]:
first_student_marks = 99
second_student_marks = 100.0
student_pass = True
print(type(second_student_marks))
print(type(first_student_marks))
print(type(student_pass))

<class 'float'>
<class 'int'>
<class 'bool'>

In [ ]:
noneType = None
print(type(noneType))

<class 'NoneType'>