<a href="https://colab.research.google.com/github/anilsimha13/AI-ML/blob/main/python_for_AI_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Class 2**
- Tuples
  - Its a one dimensional , immutable , ordered collection of different data types
  - Declared on round braces ( )
- List
  - Its a one dimensional , mutable , ordered collection of different data types
  - Declared on round braces [ ]
  - append # Appends at the end of the list
  - pop # Removes the value by index
  - insert # Want to insert into the specified index
  - remove # Removes the first occurance by value
  - extend
- Dictionaries
- Sets

### List

In [26]:
# List Methods
list_methods = ['list1', 'list2',  'list3', 'list4']
list_methods.append('list5')
print('append', list_methods)
list_methods.pop(2)
print('pop',list_methods)
list_methods.insert(2, 'list6')
print('insert',list_methods)
list_methods.remove('list1')
print('remove',list_methods)
second_list = ['list7', 'list8']
list_methods.extend(second_list)
print('extend',list_methods)

append ['list1', 'list2', 'list3', 'list4', 'list5']
pop ['list1', 'list2', 'list4', 'list5']
insert ['list1', 'list2', 'list6', 'list4', 'list5']
remove ['list2', 'list6', 'list4', 'list5']
extend ['list2', 'list6', 'list4', 'list5', 'list7', 'list8']

In [23]:
first_list = [1, 222, 222.222, 'Mark', True, 'Awesome', 'No Worries']
print(first_list[4])
first_list[2] = 2.222
print(first_list)
print(first_list[1:3:2])
print(len(first_list))
first_list.append('Zuke')
print(first_list)
first_list.insert(2,0.00)
print(first_list)
first_list.remove('Mark')
print(first_list)

True
[1, 222, 2.222, 'Mark', True, 'Awesome', 'No Worries']
[222]
7
[1, 222, 2.222, 'Mark', True, 'Awesome', 'No Worries', 'Zuke']
[1, 222, 0.0, 2.222, 'Mark', True, 'Awesome', 'No Worries', 'Zuke']
[1, 222, 0.0, 2.222, True, 'Awesome', 'No Worries', 'Zuke']

### Tuples

In [2]:
first_tuples = (1, 2.0, True, 'Tuples')
print(first_tuples)
print(first_tuples[1])
print(first_tuples[3])

(1, 2.0, True, 'Tuples')
2.0
Tuples

In [14]:
print(first_tuples)
second_tuples = ('Sets', 'React', False, 111, 111.1)
third_tuple = first_tuples + second_tuples
print(third_tuple)

(1, 2.0, True, 'Tuples')
(1, 2.0, True, 'Tuples', 'Sets', 'React', False, 111, 111.1)

In [27]:
first_tuples[0:3:2]
first_tuples[1:5:2]
first_tuples[-1]

'Tuples'

In [10]:
print(first_tuples.index('Tuples'))

3

In [5]:
print(first_tuples[0:3])

(1, 2.0, True)

In [3]:
first_tuples[1] = 2.1

TypeError: 'tuple' object does not support item assignment

In [2]:
#swapping of two variables without creating third variable

x = 10
y = 20

x,y = y,x
print(x , y)

20 10

# **Class1**

In [ ]:
first_student_name = 'Mark'
second_student_name = 'Alica'

In [ ]:
print(first_student_name)
print(second_student_name)
print(type(first_student_name))
print(type(second_student_name))

Mark
Alica
<class 'str'>
<class 'str'>

In [ ]:
first_student_marks = 99
second_student_marks = 100.0
student_pass = True
print(type(second_student_marks))
print(type(first_student_marks))
print(type(student_pass))

<class 'float'>
<class 'int'>
<class 'bool'>

In [ ]:
noneType = None
print(type(noneType))

<class 'NoneType'>